**Veriseti :**
Titanic veri seti üzerinden soruları çözeceğiz. Aşağıdaki tabloda sütunların açıklamaları mevcut.
Link: https://www.kaggle.com/c/titanic/data

In [1]:
#Import the libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import the dataset
df=pd.read_csv(r"C:\Users\nilay\Documents\GitHub\Patika_VeriAnalizi_Bootcamp\Ödevler\Hafta3.ipynb\Titanic_dataset.csv")

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df.head()
"""
Pclass: first ,second , third 
pclass: A proxy for socio-economic status (SES)
1st = Upper
2nd = Middle
3rd = Lower

Survived: 0(No), 1(Yes)

age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

sibsp: The dataset defines family relations in this way... (akraba sayısı)

Sibling = brother, sister, stepbrother, stepsister
Spouse = husband, wife (mistresses and fiancés were ignored)

parch: The dataset defines family relations in this way...
Parent = mother, father
Child = daughter, son, stepdaughter, stepson
Some children travelled only with a nanny, therefore parch=0 for them.

"""

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Soru1 :Kazada ölenlerin yaş ortalamasını bulunuz**

In [9]:
df_test = df[df["Survived"] == 0].copy()
df_test["Age"].mean()

30.62617924528302

**Soru 2: Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz**

In [10]:
df_test = df[df["Survived"] == 0].copy()
ortalama= df_test["Fare"].mean()
medyan=df_test["Fare"].median()
print("Kazada ölen yolcuların bilet fiyatlarının ortalaması: ",ortalama)  
print("Kazada ölen yolcuların bilet fiyatlarının medyanı: ",medyan)

Kazada ölen yolcuların bilet fiyatlarının ortalaması:  22.117886885245902
Kazada ölen yolcuların bilet fiyatlarının medyanı:  10.5

**Soru 3: Kazada ölen erkeklerin yaş ortalamasını bulunuz**

In [18]:
#Method 1 
df_test = df[df["Survived"] == 0].copy()
df_test2= df_test[df_test["Sex"]=="male"]
df_test2["Age"].mean()

#Method 2 
df.loc[(df["Survived"] == 0) & (df["Sex"] == "male"), "Age"].mean()

31.618055555555557

**Soru 4: Kazada ölen Kadınların yaş ortalamasını bulunuz**

In [19]:
#Method 2 
df.loc[(df["Survived"] == 0) & (df["Sex"] == "female"), "Age"].mean()

25.046875

**Soru 5: Kazadan kurtulanların yaş ortalamasını bulunuz**

In [22]:
#Method 1
#df.loc[(df["Survived"] == 1), "Age"].mean()

#Method 2 
df_test=df[df["Survived"] == 1].copy()
df_test["Age"].mean()

28.343689655172415

**Soru 6: Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz**

In [23]:
df_test = df[df["Survived"] == 1].copy()
ortalama= df_test["Fare"].mean()
print("Kazada ölen yolcuların bilet fiyatlarının ortalaması: ",ortalama)

Kazada ölen yolcuların bilet fiyatlarının ortalaması:  48.39540760233918

**Soru 7: Kazadan kurtulan toplam kişi sayısını bulunuz… 
(tüyo: len(df_titanic[(df_titanic.Survived==1)]   kodu ile de bu sayıya ulaşabilirsiniz.)**

In [26]:
#Method 1 
total=len(df[df["Survived"] == 1])
print("Hayatta kalan yolcu sayısı: ",total)

#Method 2 
df["Survived"].value_counts()

Hayatta kalan yolcu sayısı:  342

Survived
0    549
1    342
Name: count, dtype: int64

**Soru 8: 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz**

In [27]:
df.loc[(df["Age"] <10),"Fare"].mean()

30.576679032258067

**Soru 9 :1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. (Pclass değişkeni sınıfları barındırmaktadır.)**

In [30]:
df["Pclass"].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [32]:
#Method 1
fare_dict = {}
for pclass in sorted(df["Pclass"].unique()):
    value = df.loc[df["Pclass"] == pclass, "Fare"].mean()
    print(f"Pclass: {pclass}, Ortalama bilet fiyatı: {value:.2f}")
    fare_dict[pclass] = value
print(fare_dict)


#Method 2
fare_dict = df.groupby("Pclass")["Fare"].mean().to_dict()
print(fare_dict)

Pclass: 1, Ortalama bilet fiyatı: 84.15
Pclass: 2, Ortalama bilet fiyatı: 20.66
Pclass: 3, Ortalama bilet fiyatı: 13.68
{1: 84.1546875, 2: 20.662183152173913, 3: 13.675550101832993}
{1: 84.1546875, 2: 20.662183152173913, 3: 13.675550101832993}

**Soru 10 :Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. (Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir.**

In [36]:
# Toplam kadın ve erkek sayısı
total_female = df[df["Sex"] == "female"].shape[0]
total_male = df[df["Sex"] == "male"].shape[0]

# Ölen kadın ve erkek sayısı
dead_female = df[(df["Sex"] == "female") & (df["Survived"] == 0)].shape[0]
dead_male = df[(df["Sex"] == "male") & (df["Survived"] == 0)].shape[0]

# Oranlar
female_death_rate = dead_female / total_female
male_death_rate = dead_male / total_male

# Karşılaştırma
print(f"Kadın ölüm oranı: {female_death_rate:.2%}")
print(f"Erkek ölüm oranı: {male_death_rate:.2%}")

Kadın ölüm oranı: 25.80%
Erkek ölüm oranı: 81.11%